# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv
env/
*.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.pyc

# Dependency directories
lib/
lib64/
bin/
include/

# Miscellaneous
*.swp
.DS_Store

__pycache__
