@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  color: #35374b;
}

html {
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
    color: unset;
  }

  ul {
    list-style-type: none;
  }
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

header {
  width: 100%;
  overflow: hidden;
  position: relative;

  .header-container {
    width: 100%;
    max-width: 1300px;
    margin-inline: auto;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 2.5rem;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }

  .hamburger {
    display: none;
  }

  .navigation-links {
    display: flex;
    gap: 1rem;

    .link {
      transition: all 0.2s ease-in;
      color: black;
    }

    .link:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

footer {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  padding: 1.5rem;
  color: #35374b;
  line-height: 1.5;

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: center;

    gap: 2rem;
  }

  .convata-details {
    width: 100%;
    max-width: 400px;
  }

  .convata-links {
    width: 100%;
    max-width: 160px;
    margin-top: 7px;
  }

  a {
    transition: all 0.1s 0s ease-in;

    &:hover {
      opacity: 0.7;
    }
  }

  .contact-info {
    width: 100%;
    max-width: 300px;
    margin-top: 7px;

    a {
      color: blue;
    }
  }
}

/* Styles for screens greater than 600px and less than 1000px */
@media only screen and (max-width: 800px) {
  .convata-details {
    min-width: 100%;
  }

  .convata-links {
    min-width: 100%;

    ul {
      display: flex;
      gap: 0.8rem;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  .convata-links {
    ul {
      display: block;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 965px) {
  .navigation-container {
    display: none !important;
  }

  .hamburger {
    display: block !important;
    width: 50px;
    height: 50px;

    img {
      width: 100%;
    }
  }
}

.flashes {
  width: 100%;
  padding: 0.7rem;
}

.error {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  color: white;
  background-color: red;
  border-radius: 1rem;
}

.success {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  color: black;
  background-color: greenyellow;
}

.mobile-navigation-container {
  width: 80%;
  height: 100% !important;

  background-attachment: fixed !important;

  max-width: 400px;
  background-color: rgba(53, 55, 75, 0.85);
  backdrop-filter: blur(10px);
  font-family: 'Inter' !important;

  position: absolute;
  top: 0px;
  left: -120%;
  z-index: 5;
  transition: left 0.5s ease-in-out;

  padding: 2rem;

  li {
    color: white !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding: 1rem;

    transition: all 1s ease-in;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.mobile-navigation-container.open {
  left: 0;
  position: fixed;
  top: 0;
  min-height: 100%;
}
