/* Styles for the Page Upload Form */
*::after,
*::before,
* {
  box-sizing: border-box;
}

.page-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.9rem;
}

.heading-subtitle {
  text-align: center;
  width: 80%;

  text-align: center;
  max-width: 600px;
  margin: 1.3rem auto;
  letter-spacing: 4px;
  font-size: 12px;
  margin-top: 0.2rem;
}

form {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
  background-color: #35374b;
  padding: 2rem;

  border-radius: 20px;

  input {
    padding: 0.8rem;
  }

  button {
    margin: 1rem 0rem;
    padding: 0.9rem;
    background-color: rgb(70, 161, 70);
    transition: all 1s ease-in;
    color: white;
    font-weight: 600;

    cursor: pointer;

    &:hover {
      background-color: greenyellow;
      color: black;
    }
  }
}

button,
input {
  width: 100%;

  margin: 1rem 0px;
  font-size: 1rem;
  border-radius: 0.8rem;
  border: 0;
  outline: 0;
}

.instruction {
  font-size: 1rem;
  margin: 1rem 0px;
  color: white;
  font-style: italic;
}

.password-hint {
  color: greenyellow;
  cursor: pointer;
  font-size: 0.9rem;

  &:hover {
    opacity: 60%;
  }
}

#honeypot {
  display: none;
}

.information {
  color: white;
  text-align: center;

  span {
    text-decoration: none;
    color: greenyellow;
    cursor: pointer;

    &:hover {
      opacity: 70%;
    }
  }
}

/* Animate button on form submission */
@keyframes loading {
  0% {
    background-color: limegreen; /* bright green */
  }
  50% {
    background-color: darkgreen; /* dark green */
  }
  100% {
    background-color: limegreen; /* bright green */
  }
}

.loading {
  animation: loading 2s ease-in infinite;
}
