{% extends 'layout.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/imagetopdf.css")}}">
{% endblock css %}


{% block js %}
<script src="{{url_for("static", filename="js/imagetopdf.js")}}" defer></script>
{% endblock js %}


{% block content %}
<h2 class="page-heading">Sometimes, sharing it as a PDF is a requirement, Other times, It's just mo'better!</h2>
<p class="heading-subtitle">And Convata's free tool has got you covered!</p>

<form action="/convert/image-to-pdf" method="post" enctype="multipart/form-data">
	
	<div class="file-upload-outline">
		<label for="first">Image to Convert:</label>
		<input type="file" name="file" id="file" accept=".jpg, .jpeg, .png, .gif" required>
	</div>

	<br />
	
	<label for="level">Enter a Desired File name for the PDF:</label>
	<input type="text" name="filename" minlength="5" maxlength="50"required>

	<input type="text" id="honeypot" name="honeypot"/>

	<button type="submit">Convert Image to PDF 🏂</button>

</form>

<hr />

{% endblock content %}