{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock css %}

{% block js %}
<script src="{{url_for("static", filename="js/index.js")}}" defer></script>
{% endblock js %}

{% block content %}
<main role="main">
	<div class="leftscreen">
		<h1 class="main-copy">Convert Your PDF Files To Your Desired Formats</h1>
		<p class="sub-copy">Welcome to Convata, your one-stop solution for document conversion and URL shortening. Whether you need to convert a PDF to Word, Excel, or any other format, or shorten a lengthy URL for easy sharing, we've got you covered. Start your journey towards seamless conversion and sharing today!</p>

		<button class="cta-getstarted">AI PDF Summarizer! 😎</button>

	</div>

	<div class="rightscreen">
		{% for tool in tools %}

		<div class="tool-container">
				<a href="{{url_for(tool.view)}}">
				<div class="image-container">
					<img src="{{url_for('static', filename=tool.image)}}" alt="{{tool.title}}">
				</div>
				<h2 class="tool-title">{{tool.title}}</h2>
				<p class="tool-details">{{tool.details}}</p>
			</a>
		</div>
		
		{% endfor %}
	</div>

</main>	
{% endblock content %}

{% block features %}
<section class="features-container">
	<div class="inner-container">
		{% for feature in features %}
		<div class="single-feature">
			<div class="feature-icon">
				<img src="{{url_for('static', filename=feature.image)}}" alt="{{feature.title}}">
			</div>
			<h3 class="feature-title">{{feature.title}}</h3>
			<p class="feature-details">{{feature.details}}</p>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock features %}