<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
	<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">

	{% block css %}{% endblock css %}
	{% block js %}{% endblock js %}

	<script src="{{url_for('static', filename='js/base.js')}}" defer></script>

	<title>Convata | Document Conversion Made Easy</title>
</head>
<body>
	<img class="background-image" role="presentation" src="{{url_for('static', filename='images/homescreen.jpg')}}" alt="">
	<header>
		<div class="header-container">
		<div class="logo-container">
			<a href="/"><h2>Convata</h1></a>
			<img src="{{url_for('static', filename='images/logo-icon.png')}}" alt="">
		</div>

		<nav class="navigation-container">
			<ul class="navigation-links">
				<a href="{{url_for('convata1.conv_pdf_docx')}}">
					<li class="link">PDF to DOCX</li>
				</a>

				<a href="{{url_for('convata1.merge_pdf')}}">
					<li class="link">Merge PDF Files</li>
				</a>

				<a href="{{url_for('otherviews1.pdf_summarizer')}}">
					<li class="link">PDF Summarizer</li>
				</a>

				<a href="{{url_for('otherviews1.about_us')}}">
					<li class="link">About Us</li>
				</a>

				{% if current_user.is_authenticated %}
				<a href="/dashboard"><li class="link">Dashboard</li></a>
				{% endif %}

				{% if current_user.is_authenticated %}
				<a href="/logout"><li class="link">Sign Out</li></a>
				{% endif %}
			</ul>
		</nav>

		<div id="hamburger" class="hamburger">
			<img src="{{url_for('static', filename='images/menu-open.png')}}" alt="MENU">
		</div>

	</div>
	
	</header>

	<nav class="mobile-navigation-container">
		<ul class="mobile-navigation-links">
			<a href="{{url_for('convata1.conv_pdf_docx')}}">
				<li class="mobile-link">PDF to DOCX</li>
			</a>

			<a href="{{url_for('convata1.merge_pdf')}}">
				<li class="mobile-link">Merge PDF Files</li>
			</a>

			<a href="{{url_for('otherviews1.pdf_summarizer')}}">
				<li class="mobile-link">PDF Summarizer</li>
			</a>

			<a href="{{url_for('otherviews1.about_us')}}">
				<li class="mobile-link">About Us</li>
			</a>

			{% if current_user.is_authenticated %}
			<a href="/dashboard"><li class="mobile-link">Dashboard</li></a>
			{% endif %}

			{% if current_user.is_authenticated %}
			<a href="/logout"><li class="mobile-link">Sign Out</li></a>
			{% endif %}
		</ul>
	</nav>

	{% block content %}{% endblock content %}

	{% block features %}{% endblock features %}

	<footer class="footer-container">
		<section class="footer-top">
			<div class="convata-details">
				<h2 class="app-name">Convata</h2>
				<p>Convata is a free online tool for converting PDF files to various formats and shortening URLs. Our mission is to make document conversion and sharing as easy and accessible as possible.</p>
			</div>
	
			<div class="convata-links">
				<h3>Quick Links</h3>
				<ul>
					<li><a href="{{url_for('convata1.conv_pdf_docx')}}">PDF to DOCX</a></li>
					<li><a href="{{url_for('convata1.merge_pdf')}}">Merge PDF Files</a></li>
					<li><a href="{{url_for('otherviews1.pdf_summarizer')}}">PDF Summarizer</a></li>
					<li><a href="{{url_for('otherviews1.about_us')}}">About Us</a></li>

				</ul>
			</div>
	
			<div class="contact-info">
				<h3>Contact Info</h3>
				<p>Created by <span>Cre8SteveDev</span></p>
				<p>Email: <a href="mailto:cre8stevedev@gmail.com">cre8stevedev@gmail.com</a></p>
			</div>
		</section>
	</footer>
	
</body>
</html>