{% extends 'layout.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/register.css")}}">
{% endblock css %}


{% block js %}
<script src="{{url_for("static", filename="js/register.js")}}" defer></script>
{% endblock js %}

{% block content %}

<h2 class="page-heading">Register Today to access PRO Tools</h2>
<p class="heading-subtitle">(Welcome to the community of convenient tools to streamline your workflow and study)</p>

<form action="/register" method="post">
	<input type="text" name="username" id="username" required placeholder="Enter Your Desired Username">

	<input type="email" name="email" id="email" required placeholder="Enter a Valid Email Address">

	<input type="password" name="password" id="password1" required placeholder="Choose a Secure Password" min="8" max="40">

	<input type="password" name="password2" id="password2" required placeholder="Re-enter Password to Confirm">

	<input type="text" name="honeypot" id="honeypot">

	<button>Register 😎</button>

</form>

<hr />
{% endblock content %}

