{% extends 'layout.html' %}


{% block css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/register.css")}}">
{% endblock css %}


{% block js %}
<script src="{{url_for("static", filename="js/register.js")}}" defer></script>
{% endblock js %}

{% block content %}

<h2 class="page-heading">Register Today to access PRO Tools</h2>
<p class="heading-subtitle">(Welcome to the community of convenient tools to streamline your workflow and study)</p>

<form action="/register" method="post">

	<!-- Render Error Message if any-->

	{% with messages = get_flashed_messages(with_categories=true) %}
  		{% if messages %}
			<ul class=flashes>
				{% for category, message in messages %}
					{% if loop.first %}
						<li class="{{ category }}" style="color: white;">{{ message }}</li>
					{% endif %}
				{% endfor %}
			</ul>
  		{% endif %}
	{% endwith %}

	<!--End of rendering Error Message-->

	<input type="text" name="username" id="username" required placeholder="Enter Your Desired Username" minlength="6">

	<input type="email" name="email" id="email" required placeholder="Enter a Valid Email Address" minlength="8">

	<input type="password" name="password" id="password1" required placeholder="Choose a Secure Password" minlength="8" maxlength="40">

	<input type="password" name="password2" id="password2" required placeholder="Re-enter Password to Confirm" minlength="8" maxlength="40">

	<input type="text" name="honeypot" id="honeypot">

	<button>Register 😎</button>

	<p class="information">Already have an account? 
		<a href="/login"><span>Login Here!</span></a>
	</p>

</form>

<hr />

{% endblock content %}

